__pycache__/
*.pyc
.vscode/
.ipynb_checkpoints/

data/
grid_dataset/
bottle/
wood/
zipper/

weights/
results/checkpoints/
results/logs/
results/*/heatmaps/
results/*/pixel_diff_hist_plots/
results/*/quads/

*.pth
*.pt
*.h5
*.mp4
*.avi
*.mov

.DS_Store